
.experience-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 10px 50px 10px;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.experience-section-header {
    color: rgb(37, 91, 152);
    font: 800 2.2rem Merriweather Sans;
    text-align: center;
    margin: 0px 0px 50px 0px;
  }

.experience-section-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 24px;
    column-gap: 20px;
    align-items: start;
}

.experience-section-companySection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience-section-companyLogo {
    width: 200px;
    height: 140px;
    object-fit: scale-down;
    background-color: white;
    border-radius: 10%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.experience-section-description-title {
    margin: 0px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #37c;
}


.experience-section-description-workDuration {
    margin: 2px;
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    color: green;
}

.experience-section-description-responsibilities {
    padding-left: 24px;
    color:rgb(38, 38, 38);
}