
.footer-section {
    background: lightblue;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;

}

.footer-section-desc {
    max-width: 850px;
    text-align: center;
    color: rgb(24, 0, 104);
    font-size: 1.05rem;
}

.footer-section-socials {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-section-socials-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.footer-section-socials-icons-img {
    height: 40px;
    width: 40px;
}

.footer-section-socials-icons-img:hover {
    cursor: pointer;
}
