
.footer-section {
    background: lightblue;
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;

}

.footer-section-socials {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-section-socials-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-section-socials-icons-img {
    height: 40px;
    width: 40px;
}

.footer-section-socials-icons-img:hover {
    cursor: pointer;
}
