
.header-section {
    position: flex;
    display: inline-block;
    padding: 40px 0px 40px 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.header-section-overlayText {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header-section-overlayText-1 {
    color: white;
    margin: 0px;
    font: italic 300 3rem "Roboto", sans-serif;
}

.header-section-overlayText-2 {
    color: white;
    padding-top: 1.5rem;
    margin: 0px;
    font: bold 4rem "Roboto", sans-serif;
}