

.header-section-banner {
    position: relative;
    display: inline-block;
}

.header-section-banner img {
    display: block;
    width: 100%;
    height: auto;
}

.header-section-overlayText {
    position: absolute;
    top: 10%;
    left: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header-section-overlayText-1 {
    color: white;
    margin: 0rem 0rem 1rem 0rem;
    /* [Shorthand] font: font-style, font-weight, font-size, font-family */
    font: italic 300 3rem "Roboto", sans-serif;
}

.header-section-overlayText-2 {
    color: white;
    margin: 0em;
    font: bold 4rem "Roboto", sans-serif;
}