.project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 300px;
    background-image: linear-gradient(to top, #d9afd9 0%, #fff1eb 100%);

}

.project-section-header {
    color: rgb(237, 85, 222);
    font: 800 2.2rem Merriweather Sans;
    text-align: center;
    margin: 0;
}

.project-section-body {
    max-width: 100%;
    margin: 10px;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    column-gap: 20px;
    text-align: center;
    align-items: center;
}

.project-section-gallery-buttonLeft,
.project-section-gallery-buttonRight {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.15s;
}

.project-section-gallery {
    max-width: 680px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* hide scrollbar for Firefox */
}

.project-section-gallery::-webkit-scrollbar {
    display: none;
}

.project-section-gallery-element {
    margin: 0px 20px 0px 20px;
    scroll-snap-align: start;
}

.project-section-gallery-element-image {
    width: 200px;
    height: 200px;
    object-fit: scale-down;
    background-color: white;
    border-radius: 10%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    transition: transform 0.15s;
}


/* Hover Effects */

.project-section-gallery-buttonLeft:hover ,
.project-section-gallery-buttonRight:hover  {
    transform: scale(1.12);
}

.expand-on-hover:hover {
    .project-section-gallery-element-image{
        transform: scale(1.05);

    }
}
